* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* helpers */
.joy {
  background: #ecc9ec73;
  color: #ca6ecd;
}

.learn {
  color: #717fb3;
  background: #eaedff;
}

.idk {
  color: #71b39a;
  background: #eaffef;
}

.opacity-0 {
  opacity: 0;
}
.display-none {
  display: none !important;
}

.mobile {
  display: none;
}

.desktop {
  display: block;
}
.dashboard {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.menu_dashboard {
  height: 100vh;
  width: 220px;
  background: #717fb3;
  z-index: 100;
  color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.menu_dashboard_head {
  height: 50px;
  padding: 0 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 17px;
  background: rgba(0, 0, 0, 0.1);
}

.menu_dashboard_body {
  padding: 30px;
  height: calc(100% - 50px);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;

  /* background: rgba(0, 0, 0, 0.5); */
}

.dashboard_rigth {
  height: 100vh;
  width: 220px;
  background: rgba(0, 0, 0, 0.8);
  padding: 30px;
  z-index: 100;
  color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  padding: 80px 30px;
  transition: all 0.5s;
}

.dashboard_nav {
  position: absolute;
  top: 0;
  left: 220px;
  width: calc(100% - 220px);
  height: 50px;
  background: plum;
  z-index: 500;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 30px;
}

.dashboard_nav_user {
  font-size: 15px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user_icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #717fb3;
  display: inline-block;
  margin-left: 10px;
}
.user_icon img {
  width: 100%;
  border-radius: 50%;
  height: 100%;
}
.dashboard_nav_center {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_open_add_task {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: #fff;
  background: #ca6ecd;
  margin-top: -10px;
}
.week_list {
  width: calc(100% - 440px);
  height: 100vh;
  padding-top: 50px;
}

.week_item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: calc(100% - 50px);
  min-height: 500px;
  position: relative;
}

.line_horizontal {
  position: absolute;
  top: 50px;
  width: 100%;
  background: #e2e2e8;
  height: 1px;
}
.week_item .line {
  position: absolute;
  top: 50px;
  width: 1px;
  background: #e2e2e8;
  height: calc(100% - 50px);
}

.week_item .line:nth-child(1) {
  left: 14.28%;
}

.week_item .line:nth-child(2) {
  left: 28.56%;
}
.week_item .line:nth-child(3) {
  left: 42.84%;
}
.week_item .line:nth-child(4) {
  left: 57.12%;
}
.week_item .line:nth-child(5) {
  left: 71.4%;
}
.week_item .line:nth-child(6) {
  left: 85.68%;
}

.week_item_title {
  width: 100%;
  height: 50px;
  padding: 10px 20px 0 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.week_item .day {
  width: 14.28%;
  height: 100%;
}
.week_item .day:last-child {
  border-right: none;
}

.day_head {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.day_body {
  height: calc(100% - 50px);
  overflow: hidden;
  padding: 15px 7px 15px 9px;
  list-style: none;
}

.day_body li {
  padding: 3px 8px 20px;
  /* background: #eaedff; */
  border-radius: 4px;
  /* color: #717fb3; */
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
  word-wrap: break-word;
  border-left: 2px solid;
  cursor: pointer;
}

.day_body li .cross {
  position: absolute;
  top: 0;
  right: 0;
  width: 14px;
  height: 14px;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0005;
  color: #fff;
  transform: translateY(-15px);
  transition: all 0.5s;
  cursor: pointer;
}

.day_body li .edit {
  position: absolute;
  top: 0;
  right: 14px;
  width: 14px;
  height: 14px;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0005;
  color: #fff;
  transform: translateY(-15px);
  transition: all 0.5s;
  cursor: pointer;
}

.day_body li:hover .edit,
.day_body li:hover .cross {
  transform: translateY(0px);
}

.day_body li .content {
  font-size: 13px;
}
.modal_add_task,
.modal_edit_task {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999999;
  transition: all 0.5s;
}

.modal_add_task_box,
.modal_edit_task_box {
  width: 450px;
  padding: 25px;
  background: #fff;
  border-radius: 5px;
  position: relative;
}

.modal_add_task_box_title {
  margin-bottom: 15px;
}

.soft_grey .day_body {
  background: #eaedff59;
}

.cross_box {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d1d1d1;
  cursor: pointer;
}

.modal_options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 20px;
}

.modal_options_item {
  width: 30%;
  position: relative;
}

.fake_select_head {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 3px 10px;
  border-radius: 3px;
}
.fake_select_body {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 5;
  transition: all 0.5s;
}
.fake_select_body.closed {
  transform: translateY(-100%);
  opacity: 0;
  z-index: -1;
}

.modal_options_item select {
  width: 100%;
  display: none;
}

.modal_textarea textarea {
  width: 100%;
  resize: none;
}
.modal_btnContainer {
  width: 100%;
  height: 30px;
}
.modal_btnContainer button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blur {
  filter: blur(3px);
}

.menu_dashboard_icon {
  font-size: 25px;
}
.menu_dashboard_text {
  margin-left: 6px;
  font-size: 19px;
}

@media (max-width: 1500px) {
  .dashboard_rigth {
    position: fixed;
    bottom: 0;
    right: 0px;
    width: calc(100% - 220px);
    height: 50px;
    padding: 0;
  }
  .week_list {
    width: calc(100% - 220px);
  }
}

@media (max-width: 1200px) {
  .menu_dashboard {
    width: 50px;
  }
  .dashboard_nav {
    width: calc(100% - 50px);
    left: 50px;
  }
  .dashboard_rigth {
    width: calc(100% - 50px);
  }
  .week_list {
    width: calc(100% - 50px);
  }
  .menu_dashboard_head,
  .menu_dashboard_body {
    padding: 10px;
  }
  .menu_dashboard_text {
    display: none;
  }

  .menu_dashboard_icon {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
  .week_item .day {
    width: 100%;
    position: absolute;
  }
  .week_item {
    min-height: auto;
    height: calc(100% - 100px);
  }

  .week_item .line {
    display: none;
  }
  .btn_open_add_task {
    position: absolute;
    bottom: 65px;
    right: 15px;
    width: 60px;
    height: 60px;
  }
  .dashboard_nav {
    padding: 0 10px;
  }

  .day_head {
    background: #ecefff;
  }
  .soft_grey .day_body {
    background: #fff;
  }
}
