* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.menu_dashboard {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 270px;
  background: rgba(0, 0, 0, 0.2);
  padding: 30px;
}
.month_list {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 350px;
  height: 372px;
  overflow: hidden;
}

.month_item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: red;
  transition: all 0.5s;
}

.month_item ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}

.month_item ul li {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.week_list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.week_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  background: plum;
  flex-direction: column;
  position: absolute;
  /* top: 0;
  left: 0; */
  overflow: hidden;
  transition: all 0.5s;
}

.week_item.before,
.week_item.after {
  opacity: 0;
}

.week_item_header,
.week_item_body {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 100%;
  flex-wrap: wrap;
  position: relative;
}

.week_item_body {
  height: 65vh;
  min-height: 385px;
}

.week_item_body .week {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  list-style: none;
  position: absolute;
  top: 0;
  left: 0;
  background: powderblue;
}
.week_item_body .week li {
  width: 14.28%;
  height: 65vh;
  min-height: 385px;
  padding: 15px;
  border-left: 1px solid #000;
}

.week_item_body .week li:nth-child(1) {
  border-left: 1px solid transparent;
}

.week_item_header li {
  width: 14.28%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-left: 1px solid #000;
}
.week_item_header li:nth-child(1) {
  border-left: none;
}
.day_head {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.addTaskBlock {
  display: none;
}
#plus {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 999999;
  width: 100px;
  height: 100px;
}
#minus {
  position: absolute;
  bottom: 0;
  left: 100px;
  z-index: 999999;
  width: 100px;
  height: 100px;
}

.before {
  transform: translateX(-100%);
}

.after {
  transform: translateX(100%);
}
